%button {
	display: inline-block;
	padding: 7px 12px;
}

@mixin button-color($color) {
	background: $color;
	color: $white;
	border-radius: 0;
	font-weight: 500;
	&:hover {
		background: $ocean-blue;
		color: $white;
	}
	&:active {
		//box-shadow: 0 1px 0 darken($color, 12%);
	}
}
