{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html 
    lang="{{ grav.language.getLanguage ?: 'en' }}" 
    dir="{{ grav.language.getLanguage == 'ar' ? 'rtl' : 'ltr' }}">

<head>
    {% include 'partials/head_ludo.html.twig' %}
</head>

<body class="searchbox-hidden {{ page.template }} {{ page.header.body_classes }} {{ grav.language.getLanguage == 'ar' ? 'rtl' : 'ltr' }}" data-url="{{ page.route }}">

    {% block header %}

        <header id="header" class="header">
            
            <div class="header-inner">

                <div class="header-banner">
                    <div class="header-banner-inner">
                        <div class="banner-title"><a href="{{ uri.rootUrl(true) }}">
                            <span class="title-unesco">{{ 'THEME_LEARN2_BANNER_TITLE_1'|t }}</span> {{ 'THEME_LEARN2_BANNER_TITLE_2'|t }}
                        </a></div>
                    </div>
                </div>

                {% include 'partials/headermenu.html.twig' %}
            </div>


        </header>

    {% endblock %}


    {% block body %}
        <section id="torso">

            <!-- begin main -->
            {% block main %}
            <main id="main" class="{{ page.template }}_main">
                <div class="main-inner {{ page.template }}_main-inner">  
                {% block maininner %}

                    <!-- begin content -->
                    {% block content %}
                        <section class="content">
                            <div class="content-inner">
                                {% block contentinner %}{% endblock %}
                            </div>
                        </section>
                    {% endblock %}
                    <!-- end content -->

                     {% block backtoptop %}
                            <div class="backtotop">
                                <a href="#header" class="button">{{ 'THEME_BACKTOTOP'|t }}</a>
                            </div>
                     {% endblock %}


                {% endblock %}
                </div>
            </main>
            {% endblock %}
            <!-- end main -->

        </section>

        <!-- begin aside -->
        <aside id="side-menu" class="cd-panel from-left">
            {% block sidemenu %}
                {% include 'partials/phase_menu.html.twig' %}
            {% endblock %}
        </aside>
        <!-- end aside -->

        <!-- begin aside -->
        <aside id="aside-preview" class="cd-panel from-right">
            {% block aside %}
                {% include 'partials/preview.html.twig' %}
            {% endblock %}
        </aside>
        <!-- end aside -->
        <div id="absolute-form-buttons" class="absolute-form-buttons">
            <div class="absolute-form-buttons-inner">
                <button class="button no-bg export-data" type="submit" data-target="plan-form.exportyaml"><i class="fa fa-download" aria-hidden="true"></i>{{ 'THEME_EXPORTDATA'|t }}</button>
                <button class="button no-bg export-pdf" type="submit" data-target="plan-form.exportpdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{ 'THEME_CREATEPDF'|t }}</button>
            </div>
        </div>

    {% endblock %}

    {% block footer %}
        <footer></footer>
    {% endblock %}

   

    {% block analytics %}
        {% if theme_config.google_analytics_code %}
        {% include 'partials/analytics.html.twig' %}
        {% endif %}
    {% endblock %}

 </body>
</html>
