<div class="header-menu">
    <button id="main-menu-toggle" class="main-menu-toggle" data-mode="guideplanner" type="button">{{'THEME_LEARN2_MENU'|t}}</button>
    <nav id="main-menu">
        <ul class="navigation">
            {% for page in pages.children %}
                {% if page.visible %}
                    {% set isactive = (page.active or page.activeChild) ? 'active' : '' %}
                    <li><a href="{{ page.url }}" class="{{ isactive }}">{{ page.menu }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {# <button id="navbar-btn_view_guideplanner" class="viewswitch" data-mode="guideplanner" type="button">Planner</button><br/> #}
</div>