{# next/previous phase links #}
{# this is a custom version of phase-nextprev-links.html.twig for
   use on the project management project. it only shows a link back to phase 6 (monitoring)
 #}
{% set prev = page.find('/planner/monitoring') %}
<div class="phase-nextprev-links">
	<span class="prevlink">
		<a href="{{prev.url}}">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
		</span>{{prev.menu}}</a>
	</span>
</div>