{# next/previous phase links #}
{% set next = page.adjacentSibling(-1) %}
{% set prev = page.adjacentSibling(+1) %}
<div class="phase-nextprev-links">

	{# use different arrow directions for RTL #}
	{% set nextlinkicon = 'fa-arrow-right' %}
	{% set prevlinkicon = 'fa-arrow-left' %}
	{% if grav.language.getLanguage == 'ar' %}
		{% set nextlinkicon = 'fa-arrow-left' %}
		{% set prevlinkicon = 'fa-arrow-right' %}
	{% endif %}


	{% if page.isLast() == false %}
	<span class="nextlink">
		<a href="{{next.url}}">
			<span class="link-text">{{next.menu}}</span>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-stack-1x fa-inverse {{nextlinkicon}}"></i>
			</span></a>
	</span>
	{% else %}
		{# add link to project management page #}
		{% set m = management is defined ? management : page.find('/management') %}
		<span class="nextlink">
			<a href="{{m.url}}">
			<span class="link-text">{{m.menu}}</span>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-stack-1x fa-inverse {{nextlinkicon}}"></i>
			</span></a>
		</span>
	{% endif %}


	{% if page.isFirst() == false %}
	<span class="prevlink">
			<a href="{{prev.url}}">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-stack-1x fa-inverse {{prevlinkicon}}"></i>
			</span><span class="link-text">{{prev.menu}}</span></a>
	</span>
	{% endif %}
	
	
</div>