<div class="cd-panel-container">
	<div class="cd-panel-content">
	    <div class="planner-buttons">
	    	 <button id="side-menu-btn_close" class="viewswitch button cd-btn-close no-bg" data-mode="guideonly" type="button"><i class="fa fa-times" aria-hidden="true"></i>{{ 'THEME_CLOSE'|t }}</button><br/>
	    </div> 
		<hr>
	    <div id="phase-menu" class="phase-menu">
		{% set guide = guide is defined ? guide : page.find('/planner') %}
		<ul id="phase-menu-list" class="phase-menu-list">
			{% for p in guide.children.visible %}
			{% set parent_page = p.activeChild ? ' parent' : '' %}
	        {% set current_page = p.active ? ' active' : '' %}
	        <li id="phase-menu-item_{{ p.slug }}" class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">

	        	<a id="phase-menu-item-link_{{ p.slug }}" href="{{ p.permalink }}" title="{{p.title}}" {% if p.header.class %}class="{{ p.header.class }}"{% endif %}>
	                <span><span class="number-circle"><span class="number">{% if data_level == 0 %}{{ loop.index }}{% endif %}</span></span>{{ p.menu }}</span>
	            </a>

	            	<ul class="phase-menu-children">
		            	{% for q in p.collection() %}
		            		{% set parent_page = q.activeChild ? ' parent' : '' %}
		        			{% set current_page = q.active ? ' active' : '' %}
		            		<li id="form{{ q.slug }}-link-item" class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ q.route }}">
		            			<a id="form{{ q.slug }}-link" href="{{ p.permalink }}#{{ q.slug }}" title="{{q.title}}" {% if q.header.class %}class="{{ q.header.class }}"{% endif %}>
		            				<span class="marker-circle"></span>
					                <span class="marker-text">{{ q.menu }}</span>
					            </a>
					            </span></span>
		            		</li>
		            	{% endfor %}
	            	</ul>

	            

	        </li>
			{% endfor %}

			{% set m = management is defined ? management : page.find('/management') %}
			<li class="dd-item{{ parent_page }}{{ current_page }} {{ m.slug }}" data-nav-id="{{ m.route }}">
				<a href="{{ m.permalink }}" title="{{m.title}}" {% if m.header.class %}class="{{ m.header.class }}"{% endif %}>
	                <span>{{ m.title }}</span>
	            </a>
			</li>

			</ul>
		</div>
		<hr>
		<div>
		{% include 'partials/langswitcher.html.twig' %}
		</div>
	</div>
</div>