{% set guide = guide is defined ? guide : page.find('/planner') %}

{% set management = management is defined ? management : page.find('/management') %}

<div class="phases-list-wrapper">
<ul class="phase-list">
	{% for p in guide.children.visible %}
		<li class="phase">
			<a href="{{ p.url }}" title="Open {{ p.title }}" class="phase-inner">
				<span class="phase-image">

					{% set imagename = 'phase_' ~ p.slug ~ '-jumbo' %}
					{% set image = null %}

					{# Search for an arabic version of the image if one exists #}
					{% if grav.language.getLanguage == 'ar' %}
						{% set image = page.find('/images/phases').media[imagename ~ '-ar.png'].html() %}
						{% if image %}
							{{ image }}
						{% endif %}
					{% endif %}

					{% if image == null %}
						{% set image = page.find('/images/phases').media[imagename ~ '.png'].html() %}
						{% if image %}
							{{ image }} 
						{% else %}
							{{ page.find('/images/phases').media['phase_placeholder-jumbo.png'].html() }} 
						{% endif %}
					{% endif %}

				</span>
				<span class="phase-number">{{p.header.subtitle}}</span>
				<span class="phase-title"><h3>{{p.title}}</h3></span>
			</a>
		</li>
	{% endfor %}
	<li class="phase">
			<a href="{{ management.url }}" title="Open {{ management.title }}" class="phase-inner">
				<span class="phase-image">
					{% set imagefile = 'management-preview.png' %}
					{% set image = page.find('/images/').media[imagefile].html() %}
					{% if image %}
						{{ image }} 
					{% else %}
						{{ page.find('/images/phases').media['phase_placeholder-preview.png'].html() }} 
					{% endif %}
				</span>
				<span class="phase-title"><h3>{{management.title}}</h3></span>
			</a>
	</li>
</ul>
</div>