<nav id="phase-nav" class="phase-menubar">
	<div class="phase-menubar-inner">
		<div class="phase-menubar-one">
		<button id="navbar-btn_view_sidemenu" class="button viewswitch side-menu-switch" data-mode="side-menu" type="button"><i class="fa fa-list-ul" aria-hidden="true"></i><span class="phase-menubar-button-text">{{ 'THEME_PHASES'|t }}</span></button></div>
		<div class="phase-menubar-two"><span class="phasemenu-title">{{page.header.subtitle}}</span></div>
		<div class="phase-menubar-three"> <button id="navbar-btn_view_guideplanner" class="button viewswitch planner-switch" data-mode="guideplanner" type="button"><span class="phase-menubar-button-text">{{ 'THEME_PREVIEW'|t }}</span><i class="fa fa-eye" aria-hidden="true"></i></button></div>
	</div>
</nav>
