<div class="cd-panel-container">
    <div class="cd-panel-content">
        <div class="planner-buttons">
            <button id="navbar-btn_view_guide-top" class="viewswitch button no-bg" data-mode="guideonly" type="button"><i class="fa fa-times" aria-hidden="true"></i>{{ 'THEME_CLOSE'|t }}</button>
            <button id="navbar-btn_import_project" class="import button no-bg" type="button"><i class="fa fa-upload" aria-hidden="true"></i>{{ 'THEME_IMPORT_PROJECT'|t }}</button><br/>
        </div>
        <label class="planner-howto-instructions">
            {% set howtolink = page.find('/howto').permalink %}
            {{ 'THEME_HOWTO_INSTRUCTIONS_1'|t }} <a href="{{howtolink}}">{{ 'THEME_HOWTO_INSTRUCTIONS_2'|t }}</a>.
        </label>
        <div id="import-project-yaml" class="import-project-yaml" style="display:none;">
            <form id="yaml-upload" class="yaml-upload-form" name="yaml-upload" action="#">
                <fieldset>   
                    <label>{{ 'THEME_UPLOAD_INSTRUCTIONS'|t }}</label>
                    <input type="file" name="fileselect" id="yaml-fileselect"></input>
                    <input id="yaml-uploadbutton" type="button" class="button" value="{{'THEME_UPLOAD'|t}}"/>
                </fieldset>
            </form>
            <div id="yaml-upload-result"></div>
        </div>
        <div class="planner-form">
            {% include "forms/form.html.twig" with { form: forms('plan-form') } %}
        </div>
         <div class="planner-buttons">
            <button id="navbar-btn_view_guide" class="viewswitch button no-bg" data-mode="guideonly" type="button"><i class="fa fa-times" aria-hidden="true"></i>{{ 'THEME_CLOSE'|t }}</button>
        </div>
    </div>
</div>