.button {
	@extend %button;
	@include button-color($core-accent);

	&.no-bg {
		background: transparent;
		color: $core-accent;
    	border: none;
    	box-shadow: none;
    	font-weight: 500;

        &:hover {
            color: darken($core-accent, 20);
            background: transparent;
        }
	}
}

.button-secondary {
	@extend %button;
	@include button-color($secondary-link);
}