// Import Google Web Fonts
//@import url(//fonts.googleapis.com/css?family=Montserrat:400|Muli:300,400|Inconsolata);

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:500|Fira+Sans:400,500,700');

$font-family-default:           "Fira Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:            "Fira Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono:              "Fira Mono", monospace;
$font-family-serif:             "Georgia", "Times", "Times New Roman", serif;

$font-family-chinese-default:	sans-serif;
$font-family-chinese-header:	sans-serif;

