fieldset {
	border: 1px solid $core-border-color;
}

textarea, #{$all-text-inputs}, select[multiple=multiple] {
	background-color: #F8F8F8;
	border: 1px solid $core-border-color;
	box-shadow: $core-box-shadow;
	color: $black;

	&:hover {
		border-color: $core-border-color-hover;
	}

	&:focus {
		border-color: $core-border-color-focus;
		box-shadow: $core-box-shadow-focus;
	}

	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: black;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: black;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: black;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: black;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
	   color: black;
	}
	&::placeholder { /* Most modern browsers support this now. */
	   color: black;
	}
}

label {
	@extend strong;
}


// Project Plan form
$aside-bg: $white;
aside {
	.planner-buttons {
		margin-bottom: 20px;

		margin-left: -7px;
		margin-right: -7px; // this is the button padding

		button {
			i {
				padding-right: 5px;
			}
		}

		button.viewswitch {
			float: left;
		}

		button.import {
			float: right;
		}
	}
}
.planner-howto-instructions {
	font-weight: 400;
	line-height: 1.3;
}
.planner-form form {

	background-color: $aside-bg;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 30px;
	border-bottom: 4px solid $grey;

	.form-spacer {
		margin-bottom: 2rem;
		p {
			margin: 0;
			font-size: 2rem;
			font-weight: 500;
			color: $black;
		}
	}
	.form-field {
		margin-bottom: 0.5rem;
	}
	.form-field, .form-spacer {
			line-height: 1.4;
			@include breakpoint (small-mobile-range){
			margin-bottom: 1rem;
		}
	}
	.form-label {
		margin-bottom: 0.5rem;
	}

	label {
		font-weight: 500;
		font-size: 1.3rem;
		color: $black;
	}


	textarea {
		background: transparent;
		border: 1px solid $aside-bg;
    	box-shadow: none;
    	color: $brownish-grey;

    	&:focus, &:hover {
    		//border: 1px solid $core-accent;
    	}

    	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    		color:    lighten($brownish-grey, 33);
    		font-style: italic;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    lighten($brownish-grey, 33);
		   font-style: italic;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    lighten($brownish-grey, 33);
		   font-style: italic;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    lighten($brownish-grey, 33);
		   font-style: italic;
		}
		&::-ms-input-placeholder { /* Microsoft Edge */
		   color:    lighten($brownish-grey, 33);
		   font-style: italic;
		}
		&::placeholder { /* Most modern browsers support this now. */
		   color:    lighten($brownish-grey, 33);
		   font-style: italic;
		}
	}



	.buttons {
		

		visibility: hidden;

		position: fixed;
	    z-index: 10;
	    bottom: 0;
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	    left: 0;
	    background: white;
	    border-top: 4px solid $grey;
	    padding: 10px 5%;

		button[value="plan-form.exportyaml"] {
			float: right;
		}

		button[value="plan-form.exportpdf"] {
			float: left;
		}

		&:after {
		  content: "";
		  display: table;
		  clear: both;
		}
	}

	.CodeMirror {
		border: none;
		.editor-preview {
			background-color: $aside-bg;
			border: none;
			padding: 0;
		}
	}
	.CodeMirror-empty {
		height: 0;
		min-height: 0;
	}

}
// Import Yaml form
form.yaml-upload-form {
	margin: 20px 0;
	label {
		font-weight: 400;
	}
	input[type=file] {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.button {
		font-size: 90%;
		height: 36px;
		padding: 0 16px;
		line-height: 36px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border: 0;
	}
	.button:hover {
		background: #006eb7;
	}
}

.absolute-form-buttons {

	display: none;

	height: 70px;

	position: absolute;
    width: auto; // calculated by js
    right: 0;
    z-index: 8000;

    background: white;
	border-top: 4px solid $grey;
	padding-top: 10px;
	padding-bottom: 10px;

	.absolute-form-buttons-inner {
		padding-right: 5%;
		padding-left: 5%;
		width: 100%;
		box-sizing: border-box;
	}

	.export-data {
		float: right;
		margin-right: -7px;
		i {
			padding-right: 5px;
		}
	}
	.export-pdf {
		float: left;
		margin-left: -7px;
		i {
			padding-right: 5px;
		}
	}


}


aside.is-visible + div.absolute-form-buttons {
	display: block;
}
