// Generic styles. For elements that are used in multiple places.
// Advanced elements with lots of styles should be given their own file.

//= Phases List
ul.phase-list {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	-webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
	-ms-flex-wrap:wrap;
    flex-wrap:wrap;

	padding:0;
	margin:0;
	list-style: none;

	li {
		 -webkit-box-flex: initial;
		 -webkit-flex: initial;
		 -ms-flex: initial;
          flex: initial;
		  width: 50%;
		  min-width: 300px;
		  padding-bottom: 30px;
      	  width: 100%;

		  @include breakpoint(no-mobile) {

		  	  width: 50%;
		 	  min-width: 300px;

			  &:nth-child(odd){
				padding-right: 20px;
			  }
		    &:nth-child(even){
				padding-left: 20px;
				}
			}
			@include breakpoint(mobile-only) {
				width: 100%;
			}
	}

	.phase-inner {
		display: block;
		height: 100%;
		width: 100%;
		.phase-image {
			display: block;
			border: 2px solid $grey;
			margin-bottom: 10px;
		}

		.phase-title h3 {
			color: $core-text;
			font-weight: 400;
		}
		.phase-number {
			color: $black;
			font-weight: 500;
		}

		.phase-number, .phase-title h3 {
		  	display: block;
			margin-top: 0;
			margin-bottom: 0;
			text-align: center;
			font-size: 1.5rem;
			line-height: 1.25;

			@include breakpoint(mobile-only) {
       			font-size: 1.4rem;
				line-height: 1.18;
    		}
		}



	}
	a.phase-inner {
		&:hover, &:focus {
			.phase-number,
			.phase-title h3 {
				text-decoration: underline;
			}
			.phase-image {
				background: #f5f5f5;
			}
		}
	}
}
body.rtl {
	ul.phase-list {
		li {
		  	@include breakpoint(no-mobile) {
			  &:nth-child(odd){
				padding-right: 0;
				padding-left: 20px;
			  }
			  &:nth-child(even){
				padding-left: 0;
				padding-right: 20px;
			  }
			}
		}
	}
}

.backtotop {
	text-align: center;
	margin-top: $text-padding;

	.button {
		height: 36px;
	    padding: 0 16px;
	    line-height: 36px;
	    border-radius: 4px;
	}
}

//= Jumbo Text style
@mixin jumbo-text() {

	@include breakpoint(no-mobile) {
       margin-left: -($text-padding / 2);
    }
	max-width: 22em;
	color: $core-accent;

	// mimic h2 styles
	font-family: $font-family-header;
	font-size: 2rem;
	font-weight: bold !important;
  text-rendering: optimizeLegibility;
  line-height: 150%;
  letter-spacing: -0px;

	@include breakpoint(small-mobile-range) {
       font-size: 1.75rem;
    }
}

// // Guide
// h1 {
// 	@include jumbo-text();
// }

.article-body, .content-body {
	max-width: $text-width;
}


// Language Switcher
ul.language-list {
		margin: 0;
		padding: 1rem 3rem;
		font-size: 0.9rem;
		list-style: none;
		@include breakpoint(small-mobile-range) {
	       padding: 1rem 1.5rem;
	    }

		li {
			display: inline-block;
		    min-width: 60px;
		    padding-right: 40px;
				@include breakpoint(small-mobile-range) {
			       padding-right: 25px;
			    }

		    a {
		    	display: block;
			    line-height: 1.125rem;
			    text-align: center;
		    }
		}
}

// Jumbo
.jumbo-image {
	height: auto;
    width: 100%;
    min-height: 162px;
    text-align: center;

    img {
    	max-height: 100%;
    	width: auto;
    }
}


ul.languages {
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px 0 10px 17px;
   	font-size: 1.1rem;
}

.acknowledgement {
	max-width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: -1.5rem;
    line-height: 1rem;
}
