$header-height: 50px;

.header {

    .header-inner {
        height: 100%;
    }
    .header-menu {
        position: relative;
        height: $header-height;
        width: 100%;
        max-width: $max-page-width;
        margin-left: auto;
        margin-right: auto;
    }
    .header-banner-inner {
        width: 100%;
        max-width: $max-page-width;
        padding-left: $text-padding;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(small-mobile-range) {
						padding-left: $text-padding/2;
        }
    }

}
.header {
    &, a { color: $white; }
    background: $header-soft;
}

$header-link-width: 120px;
.header-menu {
    background: $header-bg;
    border-bottom: 4px solid $header-border;
    padding-left: 26px;
    @include breakpoint(small-mobile-range) {
        padding-left: 0px;
    }
    button {
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 4px solid #006eb7;
        font-weight: 500;
    }

    nav {
        display: inline-block;
        position: relative;
        z-index: 20;
        ul, li {
            margin: 0;
            padding: 0;
            display: inline-block;

            height: $header-height
        }
        li {
            text-align: center;
            a {
                display: block;
                height: $header-height - (7*2);
                padding: 6px 20px 4px 20px;
                border-bottom: 4px solid $ocean-blue;
                line-height: $header-height - (7*2);
                box-sizing: content-box;
                text-align: center;

                background: $header-bg;

                letter-spacing: 2px;
                font-weight: 500;
                font-size: 1.1rem;

                &:hover, &:focus {
                    background: $ocean-blue;
                }
                &.active {
                    border-bottom-color: white;
                }
            }
        }
    }

    button {
        height: 50px;
        background: $header-bg;

        &:hover {
            background: $ocean-blue;
        }
    }

    button.viewswitch {
        position: absolute;
        right: 0;
        z-index: 10;

    }
}

body {

    .header-banner-container {
        background: $white;
    }

    .header-banner {

        background: $white;
        color: #354052;

        .banner-title {
            font-family: $font-family-header;
            font-size: 1.8em;
            font-weight: bold;
            color: $black;
            line-height: 1em;
            padding: 1rem 0;

            a {
               color: $black;
            }

            .title-unesco {
                color: $core-accent;
            }
        }
    }

    &.home .header-banner {
        // Homepage has a custom header
        padding-top: 1em;
        padding-bottom: 2em;

        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        align-items: center;

        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: $max-page-width;

        .header-banner-inner {
            padding-left: 0;
            text-align: center;
        }

        @include breakpoint(no-mobile) {
            &.mobile {
                display: none;
            }
        }
        @include breakpoint(large-mobile-range) {
            &.mobile {
                display: none;
            }
        }

        @include breakpoint(small-mobile-range) {
            &.desktop {
                display: none;
            }
        }


        &.background-image {
            background-position: center;
            background-repeat: no-repeat;

            &.desktop {
                background-size: 960px auto;
                min-height: 560px;
                height: 560px;
                .header-banner-inner {
                    margin-left: 30px;
                    margin-right: auto;
                    max-width: 60%;

                    height: 560px;
                    padding-top: 230px;
                    margin-top: -140px;
                    .banner-title {
                        margin-top: 1rem;
                    }

                    @include breakpoint(large-mobile-range) {
                        max-width: 60%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }


            }
            &.mobile {
                background-size: auto 375px;
                min-height: 375px;
                height: 375px;
                .header-banner-inner {
                    width: 220px;
                    height: 375px;
                    padding-top: 130px;
                    margin-top: -94px;
                    .banner-title {
                        margin-top: 0;
                    }

                }
            }
        }

        .banner-title {
            border-bottom: 3px solid $core-accent;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }
        .banner-sub {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.8rem;
            color: black;
        }
        &.mobile {

            .banner-title {
                font-size: 1.8rem;
                line-height: 2rem;
                margin-bottom: 0.8rem;
                padding-bottom: 0.8rem;
            }
            .banner-sub {
                font-size: 1.125rem;
                line-height: 1.5rem;
            }
        }


        .unesco-logo-img {
            position: relative;
            top: -183px;
            left: 10px;
            background: white;
            @include breakpoint(mobile-only) {
                position: absolute;
                top: 0px;
                left: 0px;
                padding-top: 7px;
                padding-left: 10px;
                padding-right: 5px;

              }
            @include breakpoint(small-mobile-range) {
                left: 10px;
              }
        }

    }


    &.rtl {
        .header-banner.background-image.desktop {
            // Do Not swap our directions for arabic for the homepage header.
            // For this particular element we want it to retain the LTR styles.
            direction: ltr;
        } 
        
    }

}
