.home-langswitcher {
	margin-top: -20px; // fight the standard main padding

	ul.language-list {

	    a {
	    	color: $warm-grey;

		    &:hover, &:focus {
		    	color: darken($warm-grey, 20);
		    }

		    &.active {
		    	color: darken($warm-grey, 50);
		    }
	    }
	}
}

section.home-intro {

	h1 {
		@include jumbo-text();
		margin-top: 0;
		margin-bottom: 0;
	}

	margin-bottom: 0;
	padding-bottom: 0;
}
section.home-features {

	border-top: none;
	padding-top: 0px;

	.home-features-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}

	.feature {
		background: $white;
		@include breakpoint(mobile-only) {
			margin-bottom: 30px;
		}
	}

	@include breakpoint(no-mobile) {
		.feature-inner {
			display: -ms-flexbox;  /* TWEENER - IE 10 */
			display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
			display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
			align-items: center;
		}
	}

	.feature-image{
		-webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.feature-text {
		-webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1
	}

	@include breakpoint(no-mobile) {
		.feature-image{
			width: 50%;
		}
		.feature:nth-child(odd){
			.feature-text {
				-webkit-box-ordinal-group:2;
		        -ms-flex-order:1;
		        order:1;
			}
			.feature-image {
				-webkit-box-ordinal-group:3;
		        -ms-flex-order:2;
		        order:2;
				margin-right: 4.5%;
			}
		}
		.feature:nth-child(even){
			.feature-image {
				-webkit-box-ordinal-group:2;
		        -ms-flex-order:1;
		        order:1;
				margin-left: 4.5%;
			}
			.feature-text {
				-webkit-box-ordinal-group:3;
		        -ms-flex-order:2;
		        order:2;
			}
		}
		.feature-text h3 {
			margin-top: 0;
		}
	}
	@include breakpoint(tablet-range) {
		.feature:nth-child(odd){
			.feature-image {
				margin-right: 4.5%;
			}
		}
		.feature:nth-child(even){
			.feature-image {
				margin-left: 4.5%;
			}
		}
	}
	// Images for Mobile/Desktop
	@include breakpoint(no-mobile) {
		.feature-image-img {
			img {
				display: block !important;
			}
		}
	}
	@include breakpoint(mobile-only) {
		.feature-image-img-mobile {
			img {
				display: block !important;
			}
		}
	}

	.home-features-start-link {
		.button {
			height: 36px;
		    padding: 0 16px;
		    line-height: 36px;
		    border-radius: 4px;
		}
	}

}
// Arabic Feature images
body.rtl {
	section.home-features {
		@include breakpoint(no-mobile) {
			.feature:nth-child(odd){
				.feature-image {
					margin-right: 0;
					margin-left: 4.5%;
				}
			}
			.feature:nth-child(even){
				.feature-image {
					margin-left: 0;
					margin-right: 4.5%;
				}
			}
		}
		@include breakpoint(tablet-range) {
			.feature:nth-child(odd){
				.feature-image {
					margin-left: 4.5%;
					margin-right: 0;
				}
			}
			.feature:nth-child(even){
				.feature-image {
					margin-right: 4.5%;
					margin-left: 0;
				}
			}
		}
	}
}

section.home-phases {
	.home-phases-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}
}
section.home-how {
	.home-how-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}
	@include breakpoint(no-mobile) {
		.home-how-content {
			display:-webkit-box;
		    display:-ms-flexbox;
		    display:flex;

			& > * {
				-webkit-box-flex: 1;
		        -ms-flex: 1;
		            flex: 1;
			}

		}
	}
}
section.home-what {
	.home-what-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}
	h3 {
		@include jumbo-text();
		font-style: normal;
	}
}
section.home-how {
	.home-how-text {
		@include breakpoint(no-mobile) {
			padding-right: 20px;
		}
	}
	.home-how-image {
		@include breakpoint(no-mobile) {
			padding-left: 20px;
		}
	}
}
