.main-inner {

    max-width: $max-page-width;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;

    & > section {
        border-top: 4px solid $grey;
        background: $white;
        padding: $section-padding-ver $section-padding-hor;
        margin: 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: $section-padding-ver;
        }
        @include breakpoint(small-mobile-range) {
            padding-left: $section-padding-hor/2;
            padding-right: $section-padding-hor/2;
        }
        @include breakpoint(large-mobile-range) {
            padding-left: $section-padding-hor;
            padding-right: $section-padding-hor;
        }
    }
    section.home-what {
      margin-bottom: 0px;
      padding-bottom: 0.25rem;
    }
    section.home-how {
      border-top: none;
      padding-top: .8rem;
    }
}

section.jumbo {
    margin-bottom: 0;
    padding: 0;

    & + section {
        border-top: none;
    }
}

section.content {
    article {
        max-width: $text-width;
        margin-left: auto;
        margin-right: auto;
    }
}
