 /* Phase specifc styling */
// TO_DO Refactor these to remove everyhting being nested under the body tags
// Should be more generic
body.phase, body.management {
	.main-inner {
		margin-top: 0;
	}
	section.phase-intro {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-bottom: 0;

		border-top: none;

		.phase-nextprev-links {
    		padding-left: 10px;
    		padding-right: 10px;
    		margin-top: 0;
    		margin-bottom: 0;
		}
	}
	.phase-banner {
    	background: $blueberry;
    	color: $white;
    	padding: $text-padding 0;

    	h1 {
				margin-top: 0;
				margin-bottom: 0;
				margin-left: $section-padding-hor/2;
				margin-right: $section-padding-hor/2;
    		max-width: initial;
				line-height: 1.2;
    		color: $white;
    	}

    	h1, h2 {
    		text-align: center;
				@include breakpoint(small-mobile-range) {
						font-size: 1.8rem;
            text-align: left;
        }
    	}
    	h2 {
				margin-bottom: 0;
				margin-left: $section-padding-hor/2;
				margin-right: $section-padding-hor/2;
				margin-top: 10px;
    			font-size: 1.2rem;
    			line-height: 1.4;
    			font-weight: 400;
				color: $white;

			p {
				max-width: initial;
			}
    	}
	}
	//--end  phase intro

	section.phase-main {
		padding-top: 0;
		padding-bottom: 0;
		border-top-color: $white;

		article.phase-body {
			max-width: $text-width;
			margin-left: auto;
			margin-right: auto;
			margin-top: $section-padding-ver;
		}
		.question-image {
			margin-bottom: 40px;
			@include breakpoint(small-mobile-range) {
					margin-bottom: 20px;
			}
		}
		.phase-nextprev-links {
			margin-left: -2rem;
			margin-right: -2rem;
		}
	}
	article.phase-body {
		section.question {
		}
	}

}
//= Phase Menubar
//# Styled on the header
body {
	$menubar-height: 50px;
	nav.phase-menubar {
		height: $menubar-height;
		width: $main-width;
		max-width: 100%;

		background: $main-bg;
		border-bottom: 4px solid $grey;

		.phase-menubar-inner {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
  			width: 100%;
  			height: 100%;
		}
		.phase-menubar-one,
		.phase-menubar-two,
		.phase-menubar-three {
		   -webkit-box-flex:1;
		   -ms-flex:1;
		   flex:1;
		   height: 100%;
		}

		.phase-menubar-one {
			button {
				text-align: left;
				padding-left: $section-padding-hor;
				@include breakpoint(small-mobile-range) {
						padding-left: $section-padding-hor/2;
				}
			}

			i {
				padding-right: 10px;
				
			}

		}
		.phase-menubar-three {
			button {
				text-align: right;
				padding-right: $section-padding-hor;
				@include breakpoint(small-mobile-range) {
						padding-right: $section-padding-hor/2;
				}
			}

			i {
				padding-left: 10px;
			}
		}
		.phase-menubar-two {
			text-align: center;
		}
		.phase-menubar-button-text {
			@include breakpoint(small-mobile-range) {
						display: none;
			}
		}

		//= Visuals
		.phasemenu-title {
			line-height: $menubar-height;
			font-weight: 500;
			font-size: 1.25rem;
			@include breakpoint(small-mobile-range) {
					font-size: 1.125rem;
			}
		}
		button {
			background: $main-bg;
			color: $core-accent;
	    	height: 100%;
	    	width: 100%;
				padding: 10px 0px;
	    	border: none;
	    	box-shadow: none;
				letter-spacing: 1px;
	        &:hover {
	            color: darken($core-accent, 20);
	            background: transparent;
	        }
		}
	}
	// Arabic
	&.rtl {
		nav.phase-menubar {
			.phase-menubar-one {
				order: 2;
			}
			.phase-menubar-two {
				order: 1;
			}
			.phase-menubar-three {
				order: 0;
			}
		}
	}

	//# Fixed by javascript
	&.fixed-phase-menubar {
		nav.phase-menubar {
			position: fixed;
		    top: 0;
		    z-index: 5000;

		    .phase-menubar-inner {
		    	margin-bottom: 0;
		    }

		    &, button {
		    	background: $white;
		    }

		}
	}
}


// Phase Next Previous
.phase-nextprev-links {

	//max-width: $paragraph-width;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;

	min-height: 50px;
	margin-top: $section-padding-ver;
	margin-bottom: 10px;

	a {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;

		min-height: 50px;
		line-height: 50px;

		.fa-stack {
			color: $white;

			.fa-inverse {
				color: darken($main-bg, 10);
			}
		}

		&:hover, &:focus {
			.fa-stack {
				color: darken($core-accent, 10);

				.fa-inverse {
					color: $white
				}
			}
		}
	}
	@include breakpoint(small-mobile-range) {
		a {
			.link-text {
				display: none;
			}
		}
	}

	.nextlink {
		float: right;
	}
	.prevlink {
		float: left;
	}
}
body.rtl {
	.phase-nextprev-links {
		.nextlink {
			float: left;
		}
		.prevlink {
			float: right;
		}
	}
}




// Phase Article
.phase {

	.article-image {
		line-height: 0;
		img {
			width: 100%;
		}
	}
	.article-banner {
		height: 100;
		background: $article-banner-bg;
		color: $white;

		padding: 15px 50px;

		.phase-title {
			text-align: center;
			font-size: 1.5rem;
		}

		h1 {
			font-size: 1.5rem;
			text-align: center;
			letter-spacing: 0.5px;
			margin: 0;
		}
	}
	.article-header + *{
		margin-top: 2rem;
	}

	.article-body {
		max-width: $paragraph-width;
		margin-left: auto;
		margin-right: auto;

		h2 {
			font-size: 1.8rem;
			text-align: center;
		}

		p {
			color: #354052;
			font-size: 1.2rem;
		}
	}

	.article-chart {
		text-align: center;
		line-height: 0;
	    margin-bottom: 1.7rem;

	    border-top: 1px solid darken($article-bg, 20);
	    border-bottom: 1px solid darken($article-bg, 20);

	    // phase chart img background color
	    background: white;

	    img {
		    width: $paragraph-width;
		    max-width: 100%;
	    }
	}



	section.question {
		border-bottom: 4px solid darken($article-bg, 20);;
		margin-bottom: 3rem;

		.section-body, .section-input {
			margin-bottom: 3rem;
		}

		// Learn More links
		&#_learnmore {
			background: white;
			border-bottom: none;

			ul {
				list-style: none;
				padding-left: 26px;

				li {
					margin-bottom: 1.5rem;
					line-height: 1.5rem;
				}
				li:last-child {
					margin-bottom: 0;
				}
				a {
					font-weight: bold;

					&:before, &:after {
						font-family: FontAwesome;
						font-weight: normal;
						color: $grey;
					}
					&:before {
						content: "\f08e";	// external link. fa-external
						margin-left: -25px;
						margin-right: 10px;
					}
					&:after {
						margin-left: 5px;
					    font-size: 80%;
					    position: relative;
					    top: -5px;
					}
				}
				a:hover, a:focus {
					&:before, &:after {
						color: darken($core-accent, 15%);
					}
					// &:after {
					// 	content: "\f08e";  // external link. fa-external
					// 	color: darken($core-accent, 15%);
					// }
				}
			}
		}
	}
}


// Phase List on Guide Page.
// TO-DO Style.
.phase-list {
	ul {
		list-style: none;
		padding: 0;
	}
	h2 {
		text-align: left !important;
		margin-bottom: 0 !important;
	}
	p {
		margin: 0;
	}
}




// Popup phase menu
.phase-menu {

	$phase-circle-width: 28px;

	$phase-menu-color: $core-text;

	a {
		font-weight: 500;
		letter-spacing: 0.5px;

		&:hover, &:focus {
			.number-circle {
	    		border-color: $core-accent;
			}
		}
	}

	& > ul {
		list-style: none;
		padding: 0;
		line-height: 1.5rem;
		margin-top: 20px;
		margin-bottom: 20px;

		& > li {
		    margin-top: $phase-circle-width / 2;
		    margin-bottom: $phase-circle-width / 2;
		}

		b {
			width: 20px;
    		display: inline-block;
		}
	}

	& > ul {
		li ul.phase-menu-children {
			display: none;
		}
		li.active ul.phase-menu-children {
			display: block;
		}
	}

	.number-circle {
		display: inline-block;
	    width: $phase-circle-width;
	    height: $phase-circle-width;

	    position: relative;
	    top: 2px;

	    margin-right: 10px;
		padding-left: 1px;

	    text-align: center;
	    border-radius: 100%;

	    border: 2px solid $core-accent;
	    background: transparent;

	    span {
	    	position: relative;
	    }
	}
	li.active {
		.number-circle {
			background: $header-bg;
	    	color: $white;
	    	border-color: $header-bg;
		}
	}

	ul.phase-menu-children {

			padding-left: 8px;
			padding-bottom: $phase-circle-width / 4;

			li {
				overflow: visible;
			    text-overflow: ellipsis;
			    width: 100%;
			    display: block;
			    color: $core-accent;
			    padding-right: 10px;

			    font-size: 1.1rem;
    			line-height: 1.2rem;

    			margin-top: -3px;
    			padding-bottom: 1.2rem;

    			&:first-child {
    				margin-top: 14px;
    			}
    			&:last-child {
    				padding-bottom: 0;
    			}
    			&:last-child:after {
    				height: 0;
    			}
			}

			a {
				color: $warm-grey;
				font-weight: 400;
				letter-spacing: 0px;

				position: relative;
				display: block;

				.marker-circle {
					position: absolute;
					top: 50%;
					margin-top: -6px;
				}
				.marker-text {
					display: block;
					margin-left: 29px;
				}

				&:hover, &:focus {
					color: darken($warm-grey, 20);

					.marker-circle {
						border-color: $core-accent;
					}
				}

				&.completed {
					.marker-circle {
						background: $complete-color;
						border-color: $complete-color;
					}
					&:hover, &:focus {
						.marker-circle {
							border-color: darken($complete-color, 10);
						}
					}
				}
			}
	}

	.marker-circle {

		display: inline-block;
	    width: 12px;
	    height: 12px;

	    position: relative;
	    top: 1px;

	    margin-right: 19px;

	    text-align: center;
	    border-radius: 100%;

	    border: 2px solid lighten($warm-grey,20);
	    background: transparent;

	    span {
	    	position: relative;
	    	top: -3px;
	    }
	}

	li.management {
		a {
			padding-left: 37px;
		}
	}

}
body.rtl {
	.phase-menu {
		.marker-text {
			margin-left: 0;
			margin-right: 29px;
		}
		.marker-circle {
			margin-right: 0;
			margin-left: 19px;
		}
		.number-circle {
			margin-right: 0;
			margin-left: 10px;
		}
		ul.phase-menu-children {
			padding-left: 8px;
			padding-right: 0;
		}
	}
}

body.management {
	section.phase-intro .phase-nextprev-links {
		margin-top: 0;
	}
}
