#torso {

}

$aside-bg: $white;

$article-bg: $white;
$article-banner-bg: $header-bg;

footer {

	margin-top: 4rem;
}


html {
  &.guideplanner, &.planneronly, &.side-menu {
     overflow: hidden;
  }
}

#header button.viewswitch.planner-switch {
    background: $white;
    color: $core-accent;
}

.CodeMirror {
	max-height: 300px;
}