{% set section = page %}

<section id="{{ section.slug }}" class="question">

	{% set questionimageurl = 'question' ~ section.slug %}
	{% set questionimage = null %}
	{# Search for an arabic version of the image if one exists #}
	{% if grav.language.getLanguage == 'ar' %}
		{% set questionimage = page.find('/images/questions').media[questionimageurl ~ '-ar.png'].html() %}
	{% endif %}

	{% if questionimage == null %}
		{% set questionimage = page.find('/images/questions').media[questionimageurl ~ '.png'].html() %}
	{% endif %}
	
	{% if questionimage %}
		<div class="question-image">
			{{ questionimage }}
		</div>
	{% endif %}
	<div class="question-title"><h3 id="title{{ section.slug }}">{{ section.title }}</h3></div>
	<div class="section-body">{{ section.content }}</div>
	{% if section.header.hasinlinefield != 'false' %}
		<div class="section-input">
			<div class="inline-field">
				<data class="js-inlinefield" value="form{{section.slug|e}}"></data>
			</div>
		</div>
	{% endif  %}
</section>
