<section class="home-how">
<div class="home-how-inner">
	<div class="home-how-title"><h2>{{page.title}}</h2></div>
	<div class="home-how-content">
		<div class="home-how-text">{{page.content}}</div>
		<div class="home-how-image">
			<div class="home-how-image-inner">
            {{ page.find('/images').media[page.header.chartimage].html() }} 
            </div>
		</div>
	</div>
</div>
</section>