<section class="home-features">
    <div class="home-features-inner">
        <div class="feature-list">
        {% for feature in page.header.features %}
               <div class="feature">
                    <div class="feature-inner">
                        
                    {% if feature.image %}

                        {% set featureimage = feature.image %}

                        {% set featureimagemobile = feature.image ~ '_mobile' %}

                        {% if grav.language.getLanguage == 'ar' %}
                            {% set featureimage = featureimage ~ '-ar' %}
                            {% set featureimagemobile = featureimagemobile ~ '-ar' %}
                        {% endif %}

                        <div class="feature-image">
                            <span class="feature-image-img">
                                <img style="display:none;" 
                                src="{{ page.find('/images').media[featureimage ~ '.png'].url }}">
                            </span>
                            <span class="feature-image-img-mobile">
                                <img style="display:none;" 
                                    src="{{ page.find('/images').media[featureimagemobile ~ '.png'].url }}">
                            </span>
                        </div>
                    {% endif %}

                    {% if feature.text %}
                        <div class="feature-text">
                            <h3>{{ feature.title }}</h3>
                            <p>{{ feature.text }}</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
        {% endfor %}
        </div>
        <div class="home-features-start-link">
            <a href="{{ page.find('/planner/identification').url }}" class="button">{{'THEME_LEARN2_START_PROJECT'|t}}</a>
        </div>
    </div>
</section>