{% set guide = page.find('/planner') %}

<section class="home-phases">
	<div class="home-phases-inner">
		<h2>{{'THEME_LEARN2_PROJECT_PHASES'|t}}</h2>
		<div class="home-phases-inner">
		    <ul class="phase-list">
		    	{% for p in guide.children.visible %}
		    		<li class="phase">
		    			<a href="{{ p.url }}" title="Open {{ p.title }}" class="phase-inner">
		    				<span class="phase-image">
		    					{% set imagefile = 'phase_' ~ p.slug ~ '-preview.png' %}
								{% set image = page.find('/images/phases').media[imagefile].html() %}
								{% if image %}
									{{ image }} 
								{% else %}
									{{ page.find('/images/phases').media['phase_placeholder-preview.png'].html() }} 
								{% endif %}
		    				</span>
		    				<span class="phase-number">{{p.header.subtitle}}</span>
		    				<span class="phase-title"><h3>{{p.title}}</h3></span>
		    			</a>
		    		</li>
		    	{% endfor %}
		    </ul>
		</div>
	</div>
</section>