{% extends 'partials/base_ludo.html.twig' %}

{% block sidebar %}{% endblock %}


{% block content %}

	{% set jumbourl = page.slug ~ "-jumbo.png" %}
	{% set jumboimage = page.find('/images').media[jumbourl].html() %}
	{% if jumboimage %}
		<section class="jumbo">
			<div class="jumbo-image">{{ jumboimage }}</div>
		</section>
	{% endif %}

	<section class="content">
        <div class="content-inner">
			<article>
				<h1>{{page.title}}</h1>
				<div class="article-body">
					{{ page.content }}
				</div>
			</article>
        </div>
    </section>

{% endblock %}	


