{% extends 'partials/base_ludo.html.twig' %}

{% block header %}

        <header id="header" class="header">          
            <div class="header-inner">

                <div class="header-banner-container">

                    {% set unescologo_png = page.find('/images').media['UNESCO-Logo-' ~ grav.language.getLanguage ~ '.png'].url %}
                    {% set unescologo_svg = page.find('/images').media['UNESCO-Logo-' ~ grav.language.getLanguage ~ '.svg'].url %}


                    {% set headerimg = page.find('/images').media['home-header.png'].url %} 
                    <div class="header-banner background-image desktop" style="background-image:url('{{ headerimg }}');">
                        <span class="unesco-logo-img">
                            <img alt="" src="{{unescologo_png}}" srcset="{{unescologo_svg}}" width="150" height="150">
                        </span>
                        <div class="header-banner-inner">
                            <div class="banner-title">
                                <span class="title-unesco">{{ 'THEME_LEARN2_BANNER_TITLE_1'|t }}</span> {{ 'THEME_LEARN2_BANNER_TITLE_2'|t }}
                            </div>
                            <div class="banner-sub">{{ 'THEME_LEARN2_BANNER_SUBTITLE'|t }}</div>
                        </div>
                    </div>

                    {% set headerimgmobile = page.find('/images').media['home-header_mobile.png'].url %} 
                    <div class="header-banner background-image mobile" style="background-image:url('{{ headerimgmobile }}');">
                        <span class="unesco-logo-img">
                            <img alt="" src="{{unescologo_png}}" srcset="{{unescologo_svg}}" width="80" height="80">
                        </span>
                        <div class="header-banner-inner">
                            <div class="banner-title">
                                <span class="title-unesco">{{ 'THEME_LEARN2_BANNER_TITLE_1'|t }}</span> {{ 'THEME_LEARN2_BANNER_TITLE_2'|t }}
                            </div>
                            <div class="banner-sub">{{ 'THEME_LEARN2_BANNER_SUBTITLE'|t }}</div>
                        </div>
                    </div>



                </div>

                {% include 'partials/headermenu.html.twig' %}
            </div>
        </header>

{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

    <div class="home-langswitcher">
        <div class="langswitcher-inner">
            {% include 'partials/langswitcher.html.twig' %}
        </div>
    </div>

    <section class="home-intro"><div class="home-intro-inner">{{ page.content }}</div></section>

    {% for module in page.collection() %}
        {{ module.content }}
    {% endfor %}

    <div class="acknowledgement">
        <small>{{ 'THEME_ACKNOWLEDGMENT'|t }}</small>
    </div>
{% endblock %}
