{% extends 'partials/base_ludo.html.twig' %}

{% block content %}
	<section class="phase-intro">
	{% include 'partials/phase-menubar.html.twig' %}

		<div class="jumbo-image">

			{% set imagefile = page.slug ~ '-jumbo.png' %}
			{% set image = page.find('/images').media[imagefile].html() %}

			{% if image %}
				{{ image }} 
			{% else %}
				{{ page.find('/images/phases').media['phase_placeholder-jumbo.png'].html() }} 
			{% endif %}
		</div>

	{% include 'partials/management-nextprev-links.html.twig' %}		

		<div class="phase-banner">
			<h1>{{page.title}}</h1>
		</div>
	</section>

	<section class="phase-main">

		<article class="phase-body">
			{{ page.content }}
		</article>

		{% include 'partials/management-nextprev-links.html.twig' %}
		
	</section>

	
{% endblock %}
