{% extends 'partials/base_ludo.html.twig' %}

{% block content %}
	<section class="phase-intro">
	{% include 'partials/phase-menubar.html.twig' %}

		<div class="jumbo-image">

			{% set imagename = 'phase_' ~ page.slug ~ '-jumbo' %}
			{% set image = null %}

			{# Search for an arabic version of the image if one exists #}
			{% if grav.language.getLanguage == 'ar' %}
				{% set image = page.find('/images/phases').media[imagename ~ '-ar.png'].html() %}
				{% if image %}
					{{ image }}
				{% endif %}
			{% endif %}

			{% if image == null %}
				{% set image = page.find('/images/phases').media[imagename ~ '.png'].html() %}
				{% if image %}
					{{ image }} 
				{% else %}
					{{ page.find('/images/phases').media['phase_placeholder-jumbo.png'].html() }} 
				{% endif %}
			{% endif %}
		</div>

	{% include 'partials/phase-nextprev-links.html.twig' %}		

		<div class="phase-banner">
			<h1>{{page.title}}</h1>
			<h2 class="sub-title">{{ page.content|striptags }}</h2>
		</div>
	</section>

	<section class="phase-main">

		<article class="phase-body">
			{% for module in page.collection() %}
	 		{{ module.content }}
	 		{% endfor %}
		</article>

		{% include 'partials/phase-nextprev-links.html.twig' %}
		
	</section>

	
{% endblock %}
