{% embed 'partials/base_ludo.html.twig' %}

    {% block content %}
        {{ page.content }}

        {% include 'partials/tntsearch.html.twig' with { in_page: true, placeholder: "Search the Grav documentation..." }%}
    {% endblock %}

{% endembed %}
